/* common rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --res-darker: #000000;
    --res-secondary: #0084FD;
    --res-dark: #333333;
    --res-primary: #9792E4;
    --res-secondary_light: #B5DDFF;
    --res-free: #FDC15F;
    --res-lighter: #FFFFFF;

}

/* utilities */
.container{
    width: 80%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col_1{
    width: calc((100% / 12)*1);
}
.col_2{
    width: calc((100% / 12)*2);
}
.col_3{
    width: calc((100% / 12)*3);
}
.col_4{
    width: calc((100% / 12)*4);
}
.col_5{
    width: calc((100% / 12)*5);
}
.col_6{
    width: 50%
}
.col_7{
    width: calc((100% / 12)*7);
}
.col_8{
    width: calc((100% / 12)*8);
}
.col_9{
    width: calc((100% / 12)*9);
}
.col_10{
    width: calc((100% / 12)*10);
}
.col_11{
    width: calc((100% / 12)*11);
}
.col_12{
    width: 100%
}
img{
    max-width: 100%;
}

/* #region debug */
.debug .demo .col_8{
    background-color: #64af4d;
    height: 200px;
    border: 1px solid red;
}
.debug .demo .col_4{
    background-color: #64af4d;
    height: 200px;
    border: 1px solid red;
}

.debug .planning .col_6{
    background-color: darkblue;
    height: 300px;
    border: 1px solid white;
}
.debug .expert .container{
    background-color: darkviolet;
}
.debug .expert .col_9{
    background-color: darkgoldenrod;
    height: 70px;
    border: 1px solid;
}
.debug .expert .col_3{
    background-color: chartreuse;
    border: 1px solid;
    height: 70px;

}

.debug .benefits .col_4{
    height: 200px;
    background-color: brown;
    border: 1px solid yellow;
}
.debug .about_us .col_9,
.debug .about_us .col_3{
    height: 300px;
    background-color: orange;
    border: 1px solid black;
}

.debug .call_to_action .container{
    background-color: darkgreen;
    height: 300px;
}
footer .container{
    height: 300px;
    background-color: darkmagenta;
}
/* #endregion debug */

/* #region header */
header{
    background-color: var(--res-secondary);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
li a{
    text-decoration: none;
    color: var(--res-lighter);
}
header img{
    width: 50px;
}
header .button{
    background-color: white;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 2rem;
}
.menu i{
    display: none;
}
/* #endregion header */








/* #region demo*/
.demo .container{
    margin-top: 2rem;
}
.demo{
    margin: 0 -1rem;
}
.demo .col_8{
   padding: 0 1rem;
   margin-bottom: 1rem;
}
/* #endregion demo*/
/* #region planning */
.planning{
    background-color: var(--res-primary);
    margin-top: 2rem;
}
/* #endregion planning */

/* #region expert */
.expert{
    margin-top: 3rem;
}
.expert h3{
    padding: 2rem 0;
    text-align: center;
}
.expert .col_9, .expert .col_3{
    margin-top: 1rem;
}
/* #endregion expert */

/* #region benefits */
.benefits{
    background-color: var(--res-primary);
    margin-top: 3rem;
}
.benefits h3{
    text-align: center;
}
/* #endregion benefits */
/* #region about_us */
.about_us{
    margin-top: 3rem;
}
/* #endregion about_us */
/* #region call_to_action */
.call_to_action{
    background-color: var(--res-primary);
    margin-top: 3rem;
}
/* #endregion call_to_action */

/* #region footer */
footer{
    background-color: var(--res-dark);
}

/* #endregion footer */


/* responsive */
@media screen and (max-width:480px) {
    .col_mobile{
        width: 100%;
        margin: 1rem 0;
    }
    .about_us .row{
        flex-direction: column-reverse;
    }
    ul{
        display: none;
    }
    .menu i{
        display: block;
        color: white;
    }
}
@media screen and (max-width:768px) {
    .col_mid{
        width: 100%;
        margin: 1rem 0;
    }
    .benefits .col_mid{
        width: 50%;
    } 
    ul{
        display: none;
    }
    .menu i{
        display: block;
        color: white;
    }

}