/* common rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --res-darker: #000000;
    --res-secondary: #0088FD;
    --res-dark: #333333;
    --res-primary: #9792E4;
    --res-secondary_light: #B5DDFF;
    --res-free: #FDC15F;
    --res-lighter: #FFFFFF;

}
body{
    font-family: 'PT Sans', sans-serif;
}
/* utilities */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.col_1{
    width: calc((100% / 12)*1);
}
.col_2{
    width: calc((100% / 12)*2);
}
.col_3{
    width: calc((100% / 12)*3);
}
.col_4{
    width: calc((100% / 12)*4);
}
.col_5{
    width: calc((100% / 12)*5);
}
.col_6{
    width: 50%;
}
.col_7{
    width: calc((100% / 12)*7);
}
.col_8{
    width: calc((100% / 12)*8);
}
.col_9{
    width: calc((100% / 12)*9);
}
.col_10{
    width: calc((100% / 12)*10);
}
.col_11{
    width: calc((100% / 12)*11);
}
.col_12{
    width: 100%;
}
img{
    max-width: 100%;
}

/* #region debug */
.debug .demo .col_8{
    height: 300px;
}
.debug .demo .col_4{
    height: 300px;
}

.debug .expert .container{
    background-color: darkviolet;
}
.debug .expert .col_9{
    background-color: darkgoldenrod;
    height: 70px;
    border: 1px solid;
}
.debug .expert .col_3{
    background-color: chartreuse;
    border: 1px solid;
    height: 70px;

}

.debug .benefits .col_4{
    height: 200px;
    background-color: brown;
    border: 1px solid yellow;
}
.debug .about_us .col_9,
.debug .about_us .col_3{
    height: 300px;
    background-color: orange;
    border: 1px solid black;
}

.debug .call_to_action .container{
    background-color: darkgreen;
    height: 300px;
}
.debug footer .container{
    height: 300px;
    background-color: darkmagenta;
}
/* #endregion debug */

/* #region header */
header{
    background-color: var(--res-secondary);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
li a{
    text-decoration: none;
    color: var(--res-lighter);
}
header img{
    width: 50px;
}
header .button{
    background-color: white;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 2rem;
}
.menu i{
    display: none;
}
.menu li:hover{
    text-decoration: underline;
    color: white;
    font-size: 1.5rem;
    transition: 1s;
}
.button:hover{
    background-color: var(--res-primary);
    transition: 1s;
}
/* #endregion header */

/* #region demo*/
.demo .container{
    margin-top: 2rem;
}

.demo .col_8{
    background-color: var(--res-secondary_light);
    border: 5px solid var(--res-lighter);
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}
.demo .col_4{
   border-radius: 1rem;
   background-color: var(--res-secondary_light);
   border: 5px solid var(--res-lighter);
   position: relative;
   margin-top: 1rem;
   padding: 1rem;
   text-align: center;
}
.demo .col_6{
    background-color: var(--res-secondary_light);

}
.demo img{
    width: 130px;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
}
.demo h2{
    color: var(--res-secondary);
    margin: 1rem 0;

}
.demo p{
    font-size: 11px;
    line-height: 20px;
}
.demo a{
    display: inline-block;
    text-decoration: none;
    padding: 0.25rem 2.5rem;
    background-color: var(--res-secondary);
    color: white;
    border-radius: 2rem;
    margin: 2rem 0;
}
.col_4 i{
    font-size: 70px;
    color: var(--res-secondary);
}
.demo a:hover{
    padding: 0.5rem 3rem;
    transition: 0.5s;
}

/* #endregion demo*/

/* #region planning */
.planning{
    background-color: var(--res-primary);
    margin-top: 2rem;
}
.planning img{
    width: 280px;
    padding-top: 70px;
    padding-right: 3rem;
}
.planning h2{
    margin: 3rem 0;
    color: white;
}
.planning p{
    padding-bottom: 2rem;
    padding-right: 4rem;
    line-height: 25px;
    color: white;
    font-size: 10px;
}
.planning .card{
    background-color: var(--res-lighter);
    border-radius: 1rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.card img{
    width: 240px;
    padding-top: 20px;
}
.card h2, .card p{
    color: black;
    padding: 0.3rem 2.5rem;
    margin: 0.5rem 0;
}
.card h2{
    font-size: 15px;
}
.card div{
    display: inline-block;
    background-color: var(--res-primary);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 10px;
    margin-bottom: 2rem;
}
/* #endregion planning */

/* #region expert */
.expert .title{
    text-align: center;
}
.expert .title h3{
    font-size: 15px;
    font-weight: 100;
}
.expert .title h2{
    color: var(--res-primary);
    padding: 2rem 0;
}
.expert .title p{
    padding-bottom: 3rem;
}

.expert{
    margin-top: 3rem;
}
.expert h3{
    padding: 2rem 0;
}
.expert .col_9, .expert .col_3{
    margin-top: 1rem;
    align-self: center;
    color: var(--res-lighter);
    line-height: 30px;
}
.expert .col_3{
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.expert .row img{
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 125px;
    border-radius: 50%;

}
.expert .row{
    background-color: var(--res-lighter);
}
.caption{
    border: 5px solid white;
    background-color: var(--res-primary);
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
}
cite{
    font-style: normal;
    font-weight: bolder;
}
/* #endregion expert */

/* #region benefits */
.benefits{
    background-color: var(--res-primary);
    margin-top: 3rem;
    padding-bottom: 3rem;
}
.benefits h3{
    text-align: center;
    color: var(--res-lighter);
    padding: 2rem;
    font-size: 25px;
}
.benefits .row{
    background-color: var(--res-primary);
}
.benefits .col_4{
    border-radius: 2rem;
    border: 5px solid var(--res-primary);
    padding: 2.5rem;
    background-color: var(--res-lighter);
}
.benefits .col_4 div{
    font-size: 50px;
    color: var(--res-primary);
}
.benefits h4{
    color: var(--res-primary)
}
.benefits a{
    display: inline-block;
    text-decoration: none;
    background-color: var(--res-primary);
    color: var(--res-lighter);
    padding: 0.25rem 3rem;
    border-radius: 2rem;
    margin-top: 2rem;
}
.benefits a:hover{
    padding: 0.5rem 4rem;
    transition: 0.5s;
}









/* #endregion benefits */

/* #region about_us */
.about_us{
    margin-top: 3rem;
}
.about_us h2{
    color: var(--res-primary);
    font-size: 30px;
}
.about_us .col_9 p{
    padding-top: 2rem;
    line-height: 40px;
    padding-right: 5rem;
}
.about_us img{
    border-radius: 50%;
}
.about_us .fa-quote-left{
    font-size: 50px;
    color: var(--res-primary);
    position: absolute;
    right: 20px;
}
.about_us .col_3 p{
    color: var(--res-primary);
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
}
.about_us a{
    text-decoration: none;
    color: white;
    background-color: var(--res-primary);
    border-radius: 2rem;
    padding: 0.25rem 1rem;
    font-size: 11px;
}
.about_us .col_3{
    position: relative;
}
a[name=about_us]{
   background-color: white;
}
.about_us a:hover{
    padding: 0.5rem 2rem;
    font-size: 15px;
    transition: 0.5s;
}


/* #endregion about_us */

/* #region call_to_action */

.call_to_action{
    background-color: var(--res-primary);
    margin-top: 3rem;
    text-align: center;
}
.call_to_action h4{
    font-size: 15px;
    color: white;
    filter: opacity(0.5);
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.call_to_action h3{
    color: white;
    font-size: 25px;
    padding-bottom: 2rem;
}
.call_to_action h2{
    color: var(--res-free);
    font-size: 35px;
}
.call_to_action p{
    color: white;
    padding-top: 2rem;
    padding-left: 30%;
    padding-right: 30%;
}
.call_to_action a{
    text-decoration: none;
    display: inline-block;
    color: var(--res-primary);
    background-color: var(--res-lighter);
    padding: 0.5rem 4rem;
    margin: 2rem 0;
    border-radius: 2rem;
}
.call_to_action div{
    color: white;
    font-size: 12px;
    padding-bottom: 1.5rem;
}
.call_to_action span{
    text-decoration: underline;
}
a[name=get_started]{
    background-color: var(--res-primary);
}
.call_to_action a:hover{
    padding: 1rem 5rem;
    color: white;
    border:2px solid black;
    background-color: var(--res-primary);
    transition: 1s;
}
/* #endregion call_to_action */

/* #region footer */
footer{
    background-color: var(--res-dark);
    text-align: center;
    color: white;
}
footer p{
    padding-right: 30%;
    padding-left: 30%;
    font-size: 13px;
    padding-bottom: 2rem;
    padding-top: 2rem ;
}
footer span{
    color: var(--res-primary);
    text-decoration: underline;
}
footer span:hover{
    cursor: pointer;
}
/* #endregion footer */


/* responsive */
@media screen and (max-width:480px) {
    .container{
        max-width: 420px;
    }
    .col_mobile{
        width: 100%;
        margin: auto;
    }
    /* header */
    .menu{
        position: relative;
    }
    .dropdown{
        display: none;
        position: absolute;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid white;
        width: 150px;
        text-align: center;
        right: 0rem;
        background-color: var(--res-secondary);
        z-index: 100;
    }
    .menu i{
        display: block;
        color: white;
    }
    .dropdown ul{
        display: block;
    }
    .menu a{
        display: block;
        border: 1px solid black;
        padding: 1rem 0;
    }
    
    .dropdown a:hover{
        background-color: var(--res-primary);
        color: white;
    }
    .menu:hover .dropdown{
        display: block;
    }
    /* demo */
    .demo .col_6{
        padding-bottom: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .demo .col_4{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .demo .col_8{
        padding: 0 1rem;
    }
    .demo img{
        margin-left: 90px;
    }
    /* planning */
    .planning .card{
        margin-top: 0;
    }
    /* expert */
    .caption{
        padding-bottom: 2rem;
    }
    .expert .col_9, .expert .col_3{
        text-align: center;
        padding-left: 0;
    }
    /* benefits */
    .benefits .col_4 div, .benefits .col_4 h4{
        padding: 1rem 0;
    }
    /* about us */
    .about_us .row{
        flex-direction: column;
    }
    .about_us h2{
        text-align: center;
    }
    .about_us .col_9 p{
        padding-right: 0;
        padding-bottom: 2rem;
    }
    .about_us img{
        width: 150px;
    }
    .about_us .fa-quote-left {
        right: 254px;
    }
 
}

@media screen and (min-width:481px) and (max-width:768px){
    .container{
        max-width: 720px;
    }
    .col_mid{
        width: 100%;
        margin: 1rem 0;
    }
    /* header */
    .menu{
        position: relative;
    }
    .dropdown{
        display: none;
        position: absolute;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid white;
        width: 150px;
        right: 0rem;
        text-align: center;
        background-color: var(--res-secondary);
        z-index: 100;
    }
    .menu i{
        display: block;
        color: white;
    }
    .dropdown ul{
        display: block; 
    }
    .menu a{
        display: block;
        border: 1px solid black;
        padding: 1rem 0;
    }
    
    .dropdown a:hover{
        background-color: var(--res-primary);
        color: white;
    }
    .menu:hover .dropdown{
        display: block;
    }
    /* demo */
    .resp{
        flex-direction: column;
        padding-bottom: 5rem;
    }
    .demo img{
        margin-left: 0;
        
    }
    /* planning */
    .card{
        margin-top: 2rem;
    }
    .planning .card{
        margin-top: 0;
    }
    .planning img{
        width: 550px;
    }
    /* expert */
    .expert .col_9{
        padding: 0 2rem;
    }
    /* benefits */
    .benefits .col_mid{
        width: 50%;
    }
    /* about us */
    .about_us .fa-quote-left {
        left: 150pxpx;
    }
    .about_us .col_4_tab{
        width: calc((100% / 12)*4);
    }
    .about_us .col_8_tab{
        width: calc((100% / 12)*8);
    }
}
